
	<div class="container-fluid">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">Michelle Lopez</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="#about">About</a>
		      </li>
		    </ul>
		   <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="#portfolio">Portfolio</a>
		      </li>
		    </ul>
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="#contact">Contact</a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div id="about" class="card border-secondary mb-10">
		  <div class="card-header"></div>
		  <div class="card-body text-secondary">
		    <h5 class="card-title">About</h5>
		    <p class="card-text">Hi!! My name is Michelle Lopez.</p>
		    <p>I am currently studying computer systems engineering. I'm taking the classes user experience and programming languages.</p>
		    <p>I used to study at the UNAH, but since 2016 I transferred to unitec and immediately loved it</p>
		    <p>Sadly I still do not have any work experience.
		    </p>
		    <p>But on the bright side I managed to get into a special scholarship program and on thursday I will begin a ten months training in a guatemalan company named SISAP to get the position of penetration tester and ethical hacker, I am very excited about it, I can't wait to start.</p>
		  </div>
		</div>

		<div id="portfolio" class="card">
		  <div class="card-body ">
		    My portfolio.
		  </div>
		</div>
		<div class="card-deck">
		  <div class="card">
		    <img class="card-img-top" src="https://placeholdit.co//i/300x300?bg=111111" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Card title</h5>
		      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 3 mins ago</small>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="https://placeholdit.co//i/300x300?bg=111111" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Card title</h5>
		      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 3 mins ago</small>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="https://placeholdit.co//i/300x300?bg=111111" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Card title</h5>
		      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 3 mins ago</small>
		    </div>
		  </div>
		</div> 
		<div class="card-deck">
		  <div class="card">
		    <img class="card-img-top" src="https://placeholdit.co//i/300x300?bg=111111" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Card title</h5>
		      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 3 mins ago</small>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="https://placeholdit.co//i/300x300?bg=111111" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Card title</h5>
		      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 3 mins ago</small>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="https://placeholdit.co//i/300x300?bg=111111" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Card title</h5>
		      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 3 mins ago</small>
		    </div>
		  </div>
		</div> 
	</div>

<footer id="contact" class="container-fluid">
  <hr>
  <div class="col-md-8">
    <p>By Michelle Lopez</p>  
  </div>
  <div class="col-md-4">
    <div class="social-icons">
        <a href="https://github.com/MichelleLopez" target="_blank"><i class="fa fa-2x fa-github"></i></a>
      <a href="https://www.facebook.com/kmichelle.lopezm" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
      </div>
    </div>
</footer>